{# @see http://symfony.com/doc/current/cookbook/profiler/data_collector.html #}
{# @var collector \Matthimatiker\OpcacheBundle\DataCollector\ByteCodeCacheDataCollector #}
{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
        {# This block appears in the toolbar. #}
        {% set memory_status_color = (collector.byteCodeCache.memory.full) ? 'red' : ((collector.byteCodeCache.memory.usageInPercent) >= 80 ? 'yellow' : 'green') %}
        <span class="icon"><svg width="13" height="28" xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" viewBox="0 0 13 28" enable-background="new 0 0 13 28" xml:space="preserve"><g><rect x="3" y="11" fill="#BCBCBB" width="7" height="9"/></g><g><path fill="#3F3F3F" d="M11 6V21H2V6H0V22c0 0.6 0.4 1 1 1h11c0.6 0 1-0.4 1-1V6H11z"/></g></svg></span>
        <span class="sf-toolbar-status sf-toolbar-status-{{ memory_status_color }}">
            {{ '%.0f' | format(collector.byteCodeCache.memory.usageInMb) }} / {{ '%.0f' | format(collector.byteCodeCache.memory.sizeInMb) }} MB
        </span>
    {% endset %}

    {% set text %}
        {# This block is shown on hover. #}
        <div class="sf-toolbar-info-piece">
            <b>Opcache</b>
        </div>
        {% set memory_status_color = (collector.byteCodeCache.memory.full) ? 'red' : ((collector.byteCodeCache.memory.usageInPercent) >= 80 ? 'yellow' : 'green') %}
        <div class="sf-toolbar-info-piece">
            <b>Memory usage</b>
            <span class="sf-toolbar-status sf-toolbar-status-{{ memory_status_color }}">
                {{ '%.2f' | format(collector.byteCodeCache.memory.usageInMb) }} / {{ '%.2f' | format(collector.byteCodeCache.memory.sizeInMb) }} MB
            </span>
        </div>
        {% set hit_ratio_status_color = (collector.byteCodeCache.statistics.hitRateInPercent >= 90.0) ? 'green' : ((collector.byteCodeCache.statistics.hitRateInPercent) >= 70.0 ? 'yellow' : 'red') %}
        <div class="sf-toolbar-info-piece">
            <b>Hit ratio</b>
            <span class="sf-toolbar-status sf-toolbar-status-{{ hit_ratio_status_color }}">
                {{ '%.2f' | format(collector.byteCodeCache.statistics.hitRateInPercent) }}%
            </span>
        </div>
    {% endset %}

    {# Include a link to the details panel. #}
    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { 'link': true }) }}
{% endblock %}

{% block head %}
    {# Optional, if you need your own JS or CSS files. #}
    {{ parent() }} {# Use parent() to keep the default styles #}
{% endblock %}

{% block menu %}
    {# This left-hand menu appears when using the full-screen profiler. #}
    <span class="label">
        <span class="icon"><svg width="38" height="28" xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" viewBox="0 0 13 28" enable-background="new 0 0 13 28" xml:space="preserve"><g><rect x="3" y="11" fill="#BCBCBB" width="7" height="9"/></g><g><path fill="#3F3F3F" d="M11 6V21H2V6H0V22c0 0.6 0.4 1 1 1h11c0.6 0 1-0.4 1-1V6H11z"/></g></svg></span>
        <strong>Opcache</strong>
    </span>
{% endblock %}

{% block panel %}
    {# Optional, for showing the most details. #}
    <h2>Opcache</h2>
    <p>
        <em>Major information goes here</em>
    </p>
{% endblock %}
